nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    padding-left: 9rem;
    background-color: #d7d3d3;
    /* position: fixed;
    top: 0;
    width: 100%; */
  }
  
  nav input {
    padding: 12px 20px;
    border: none;
    background: #ffff;
    outline: none;
    /* margin-right: 20px; */
    border-radius: 5px;
    position: relative;
    width: 14rem;
  }
  
  .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }