.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 9rem;
    margin-top: 1rem;
    z-index: -2;
    /* justify-content: center; */
}
.card {
    margin:20px;
    border:2px solid #ededed;
    padding: 20px;
    border-radius: 3px;
    width: calc(25% - 3rem);
    overflow: hidden;
}

.card-img{
    width: 100%;
    margin-bottom: 1rem;
}
.card-title{
    margin-bottom: 1rem;
}
.card-reviews{
    margin-bottom: 1rem;
}

.star-rating{
    color: rgb(171, 171, 4);
}

.total-reviews{
    font-size: 0.rem;
    margin-left: 10px ;
}

.card-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}

.page-link{
    padding: 10px 20px;
    margin-right: 6px;
    background:transparent;
    border: none;
    border: 0.9px solid #ccc;
    border-radius: 5px;
    color: blue;
    cursor: pointer; 
}
.page-active{
    background: rgb(152, 93, 207);
    color: white;
}

.color-name{
    margin-bottom: 0.5rem;
    color: gray;
}
